@media screen and (min-width:800px) and (min-height:1400px){
 main{
  padding:146px 0;
 }
  #brand-img{
  height:120px;
  margin-right: 10px;
 }
 #brand-name {
   font-size: 3rem;
   margin-right: 10px;
  }
  .nav-link{ 
    font-size: 3rem;
  }
  .foot-brand #brand-img {
    height: 80px; 
  }
 h1{
  font-size: 8rem;
 }
 h2{
  font-size: 6rem;
 }
 h3{
  font-size: 4rem;
 }
 h4{
  font-size: 3rem;
 }
 h5{
  font-size: 2rem;
 }
 h6{
  font-size: 1rem;
 }
 #main-logo{
  height:700px;
 }
 #logo-aruba {
   height: 50px;
 }
 span{
  font-size: 2rem;
 }
 p{
  font-size: 2rem;
 }
 footer span {
   font-size: 2rem;
 }
 #footer-brand-img {
   height: 60px;
 }
 
 main{
    height:93vh;
     
 }
 
 }