*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  position: relative;
  background-color: azure;
}

/*
header
*/

header{
  width:100vw;
  height:80px;
  position: absolute;
  top: 0;
  z-index: 2;
}

header.transparent-gradient{
  background-image: -webkit-linear-gradient(rgb(143, 143, 143), white, rgba(255, 255, 255, 0.877), rgba(255, 255, 255, 0.203));
  
}
.jdw-nav,.jdw-nav-brand, .jdw-nav-menu,.jdw-nav-button{
  height:100%;
  padding:5px;
  
}
.jdw-nav{
  background-color: rgb(77, 77, 77);
  color:rgba(255, 255, 255, 0.748);
  display:flex;
  justify-content: space-between;
  align-content: center;
  }

.jdw-nav-brand{
  display:flex;
  align-items: center;
}
#brand-img{
  height:100%;
 margin-right: 5px;
}
#brand-name{
  height:100%;
 margin-right:5px;
}
.jdw-nav-menu{
  display: flex;
  align-items: center;
}
.jdw-nav-button{
  position: relative;
}
.jdw-nav-hamburger{
  height:60px;
  padding:5px;
  color: rgba(255, 255, 255, 0.748);
  
}
.jdw-nav-toggle{
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(144, 144, 144);
  position:absolute;
  top:60px;
  right:10px;
  
  box-shadow:inset 0px 8px 16px 0px rgba(42, 42, 42, 0.489);
}
.jdw-nav::selection .jdw-nav-toggle{
  display:block;
}
/*
main
*/
main{ 
  height:calc(100vh);
  padding : 80px 5px;
  overflow-y: auto;
}

/*
footer
*/

footer{
  height:80px;
  width:100vw;
  display: flex;
  padding:3px;
  flex-direction: column-reverse;
  position: absolute;
  bottom:0;
}

/*utility*/
.bg-body-dark{
  background-color: black;
  color: white;
}

.fs-01{
  font-size: 60px;
  
}