*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  position: relative;
  background-color: blanchedalmond;
}

/*
header
*/
header{
  background-image: -webkit-linear-gradient(rgb(143, 143, 143), white, rgba(255, 255, 255, 0.877), rgba(255, 255, 255, 0.203));
  height:10vh;
  position:absolute;
  top:0;
  width:100vw;
}
.jdw-nav,.jdw-nav-brand, .jdw-nav-menu,.jdw-nav-button{
  height:100%;
  padding:5px;
}

#logo-img{
  height:100%;
 margin-right: 1vw;
}


/*
main
*/

main{
  overflow-y: auto;
  height:100vh;
  margin : 0 auto;
  padding :10vh 5vw;
}


/*
footer
*/

footer{
  height:10vh;
  display: flex;
  flex-direction: column-reverse;
  background-image: -webkit-linear-gradient( rgba(255, 255, 255, 0.265),rgba(255, 255, 255, 0.543),white, rgb(143, 143, 143));
  position: absolute;
  bottom:0;
  width:100vw;
}